<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048786276680-2gijjut610su97cumfrln28mjd37sgbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048786276680-2gijjut610su97cumfrln28mjd37sgbf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1048786276680-da718fe23kof3vbc079aoa3q0kui4bqa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCUqjEsUpYVDl87ECntctYyKBwKmobx7M</string>
	<key>GCM_SENDER_ID</key>
	<string>1048786276680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swipe</string>
	<key>PROJECT_ID</key>
	<string>swipe-607e8</string>
	<key>STORAGE_BUCKET</key>
	<string>swipe-607e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048786276680:ios:728647923eacaea530a37d</string>
</dict>
</plist>